html, body {
  margin: 0;
  height: 100%;
  background: #0b0f12;
}

#game {
  display: block;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated; /* look retrô */
  cursor: none; /* só pra ficar “clean” */
}
